<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\styles\style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Crimson+Pro">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka&family=Josefin+Sans:wght@600&family=Mukta:wght@600;700&family=Roboto:wght@500;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500&family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
    <title>Vaccination</title>
</head>
<body>
    <header>
        <h2 id="subtitulo">Vaccination</h2>
        <nav>
            <ul>
                <li><a href="#">Database</a></li>
                <li><a href="#">Education</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Regulation</a></li>
                <button id="boton">Hoax Buster</button>
            </ul>
        </nav>
    </header>
    <div class="section1">
        <img id="imagenPrincipal" src="https://raw.githubusercontent.com/IsmaelGomezPerez/Vaccination-DemoPage/main/src/img/img1.png" alt="Vacuna COVID-19">
        <section class="seccion1">
                <h2 id="subtitulo1">Fight Virus With Vaccines</h2>
                <p id="parrafo1">Let's stop this pandemic by killing the virus with a vaccine, don't let yourselft and your family get infected</p>
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                width="50" height="29" viewBox="0 0 170 165">
                <path class="st20" d="M162.4,43.2c-0.1-4.5-3.2-5.8-7.2-5.8c-20.7-0.3-39.2-6.4-54.5-20.9c-2.9-2.7-5.9-2.7-8.7,0
                C76.6,31,58.1,37.1,37.4,37.3c-5.3,0.1-7.3,2.8-7.3,7.8c0.1,7.2,0,14.4,0,21.6c-0.2,0-0.4,0-0.6,0c0.4,7.8,0.7,15.6,1.3,23.4
                c3.1,39.9,23,67.2,60.8,81.1c2.3,0.8,4.5,1.9,7.1,0.9c28.1-10.3,49.5-27.4,58.3-57.2C164.1,91.4,163.1,67.3,162.4,43.2z M121.4,84
                c-9.1,9-18.1,18-27.1,27.1c-1.6,1.6-3.2,3.2-5.7,3.3c-3.5,0-20.7-17.5-20.7-20.9c0-2.1,1.1-3.7,2.7-4.6c2.1-1.2,4.4-1.1,6.3,0.6
                c2.7,2.5,5.6,4.9,7.9,7.8c2.7,3.2,4.4,3.5,7.5,0.2c6.8-7.4,14.2-14.3,21.3-21.5c2.8-2.8,5.9-5.2,9.5-1.5
                C126.6,78.1,124.2,81.2,121.4,84z" fill="yellow"/>
                </svg>
                <span>Best Protection</span>

                <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                width="50" height="29" viewBox="0 0 170 165">
                <polygon fill="yellow" stroke-width="7"
                    points="129,150 85,119 41,150 57,104 15,66
                    68,66 85,15 102,65 156,66 113,98" />
                </svg>
                <span>Selected Vaccines</span>
                <br>
                <svg id="schedule" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="50" height="29"
                    viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
                <path d="M16,2C8.3,2,2,8.3,2,16s6.3,14,14,14s14-6.3,14-14S23.7,2,16,2z M23,17h-7c-0.6,0-1-0.4-1-1V7c0-0.6,0.4-1,1-1s1,0.4,1,1v8
                    h6c0.6,0,1,0.4,1,1S23.6,17,23,17z" fill="blue"/>
                </svg>
                <span id="vaccinations">Schedule your vaccinations</span>
                <form action="" class="form" id="schedule2">
                    <div class="dato">
                        <span id="icon2" class="material-icons">&#xe0c8;</span>
                        <p id="location">Location</p>
                        <p id="location2">Jakarta Utara</p>
                    </div>
                    <div class="dato">
                        <span id="icon2" class="material-icons">&#xe935;</span>
                        <p id="date">Date</p>
                        <p id="date2">08 July 2021</p>
                    </div>
                    <div class="dato">
                        <span id="icon2" class="material-icons">&#xe9a2;</span>
                        <p id="type">Vaccine Type</p>
                        <p id="type2">Moderna</p>
                    </div>
                    <div class="btn">
                        <button class="btn-blue" id="boton">Submit</button>
                    </div>
                </form>
        </section>
    </div>
        <section class="section2">
            <h2 id="subtitulo2">Why should I vaccine?</h2>
            <p id="parrafo2">In order to avoid any doubts about getting the COVID-19 vaccine, identify the following 4 benefits of COVID-19 vaccination:</p>
            <div class="grid-container">
                <div class="dato">
                    <span id="icon" class="material-icons" style="font-size: 54px">&#xeff3;</span>
                    <p id="titulo1">Minimize the spread of viruses</p>
                    <p id="text">
                        Vaccine has been proven effective to prevent someone from getting infected with Coronavirus
                    </p>
                </div>
                <div class="dato">
                    <span id="icon" class="material-icons" style="font-size: 54px">&#xf013;</span>
                    <p id="titulo1">Forming antibodies</p>
                    <p id="text">
                        COVID-19 vaccine proven to help shape antibody response for immune system
                    </p>
                </div>
                <div class="dato">
                    <span id="icon" class="material-icons" style="font-size: 54px">&#xf233;</span>
                    <p id="titulo1">Protecting people nearby</p>
                    <p id="text">
                        The benefits of COVID-19 vaccination are the vaccine that we get can also help protect
                        people around us
                    </p>
                </div>
                <div class="dato">
                    <span id="icon" class="material-icons" style="font-size: 54px">&#xe922;</span>
                    <p id="titulo1">Creating group immunity</p>
                    <p id="text">
                        COVID-19 vaccination is also beneficial for creating group immunity or herd immunity
                    </p>
                </div>
              </div>
        </section> 
        <section class="section3">
            <img id="imagen2" src="../assets/img/1.png" alt="Imagen 2">
            <h2 id="subtitulo3">Preparations Before Vaccine</h2>
            <p id="parrafo3">the success of vaccines is strongly influenced by the strenght of the body's immune system. Therefore, there are several things that can be tried to make the COVID-19 vaccine work:</p>
            <div class="contText">
                <span class="material-icons" id="icon1" style="font-size: 24px">&#xf012;</span>
                <p id="texto2">Avoid alcoholic beverages</p>
                <button class="btn-flecha" id="btn-flecha1" onclick="ocultar()">
                    <span class="material-icons" id="abajo" style="font-size: 24px">&#xe5c5;</span>
                </button>
            </div>
        </div>
        <div class="opcinPre">
            <div class="contText">
                <span class="material-icons" id="icon1" style="font-size: 24px">&#xe99a;</span>
                <p id="texto2">Avoid stress</p>
                <button class="btn-flecha" id="btn-flecha2" onclick="mostrar()">
                    <span class="material-icons" id="abajo2" style="font-size: 24px">&#xe5c5;</span>
                </button>
            </div>
            <p class="text" id="oculto2">
                Streps has a profound effect on immurie work. Moreover, prolongan strees can increase
                cortisol production and oxidative stress in the body.
            </p>
        </div>
        <div class="opcinPre">
            <div class="contText">
                <span class="material-icons" id="icon1" style="font-size: 24px">&#xe801;</span>
                <p id="texto2">Eat healthy food</p>
                <button class="btn-flecha" id="btn-flecha3" onclick="ocultar()">
                    <span class="material-icons" id="abajo3" style="font-size: 24px">&#xe5c5;</span>
                </button>
            </div>
        </div>
        <div class="opcinPre">
            <div class="contText">
                <span class="material-icons" id="icon1" style="font-size: 24px">&#xe834;</span>
                <p id="texto2">Get enough sleep</p>
                <button class="btn-flecha" id="btn-flecha4" onclick="ocultar()">
                    <span class="material-icons" id="abajo4" style="font-size: 24px">&#xe5c5;</span>
                </button>
            </div>
        </div>
        <div class="opcinPre">
            <div class="contText">
                <span class="material-icons" id="icon1" id="sombra5" style="font-size: 24px">&#xe87d;</span>
                <p id="texto2">Exercise or physical activity</p>
                <button class="btn-flecha" id="btn-flecha5" onclick="ocultar()">
                    <span class="material-icons" id="abajo5" style="font-size: 24px">&#xe5c5;</span>
                </button>
            </div>
        </div>
        </section>
        <section class="section4">
            <img id="imagen3" src="../assets/img/2.png" alt="Vacuna COVID-19">
            <h2 id="subtitulo4">Emergency Contact</h2>
            <p id="parrafo4">Contact one of the contacts below if you or your family feel unwell and have similar symptoms such as COVID-19, make sure you also take care of yourself before reporting to us:</p>
            <div class="grid-container2">
                <div class="boton">
                    <span id="icon2" class="material-icons" style="font-size: 35px">&#xe61d;</span>
                    <div class="conten">
                        <p id="texto3" class="titulo">Call</p>
                        <p id="texto4">021.123.145.14</p>
                    </div>
                    <div><button id="boton2">Call Now</button></div>
                </div>
                <div class="boton">
                    <span id="icon2" class="material-icons" style="font-size: 35px">&#xe625;</span>
                    <div class="conten">
                        <p id="texto3" class="titulo">Chat</p>
                        <p id="texto4">021.123.145.14</p>
                    </div>
                    <div><button id="boton2">Chat Now</button></div>
                </div>
                <div class="boton">
                    <span id="icon2" class="material-icons" style="font-size: 35px">&#xe04b;</span>
                    <div class="conten">
                        <p id="texto3" class="titulo g">Video Call</p>
                        <p id="texto4">021.123.145.14</p>
                    </div>
                    <div><button id="boton2">Video Call Now</button></div>
                </div>
                <div class="boton">
                    <span id="icon2" class="material-icons" style="font-size: 35px">&#xe0be;</span>
                    <div class="conten">
                        <p id="texto3" class="titulo">Message</p>
                        <p id="texto4">021.123.145.14</p>
                    </div>
                    <div><button id="boton2">Message Now</button></div>
                </div>
            </div>
        </section>
        <section class="footer">
            <footer>
                <div class="grid-container3">
                    <div class="dato">
                        <p id="subtitulo7">Vaccination</p>
                        <p id="text2">
                            Our goal is to help the world free from the ongoing pandemic
                        </p>
                    </div>
                    <div class="dato">
                        <p id="titulo2">About</p>
                            <ul>
                                <li><a id="texto4" href="#">About us</a></li>
                                <li><a id="texto4" href="#">Features</a></li>
                                <li><a id="texto4" href="#">News & Blog</a></li>
                            </ul>
                    </div>
                    <div class="dato">
                        <p id="titulo2">Company</p>
                        <ul>
                            <li><a id="texto4" href="#">How We Work?</a></li>
                            <li><a id="texto4" href="#">Capital</a></li>
                            <li><a id="texto4" href="#">Security</a></li>
                        </ul>
                    </div>
                    <div class="dato">
                        <p id="titulo2">Support</p>
                        <ul>
                            <li><a id="texto4" href="#">FAQs</a></li>
                            <li><a id="texto4" href="#">Support Center</a></li>
                            <li><a id="texto4" href="#">Contact Us</a></li>
                        </ul>
                    </div>
                  </div>
                  <div class="botton">
                    <p id="text3">@2021 Vacinnation. All rights reserved</p>
                    <div class="links">
                        <a id="texto5" href="#">Privacy Policy</a>
                        <a id="texto6" href="#">Terms & Agreements</a>
                    </div>
                </div>
            </footer>
        </section>
</body>
<script>
    function ocultar(){
        document.getElementById('oculto2').style.display = 'none';
        }
    function mostrar(){
        document.getElementById('oculto2').style.display = 'block';
        }
</script>
</html>