<!DOCTYPE html>
<html lang="es">

<link rel="shortcut icon" href="..\assets\img\logo1.ico" type="image/ico" />

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Sakura Cake </title>
</head>

<body>
  <header>
    <img src="..\assets\img\logo1.ico" alt="logo">
  </header>
  <section class="xd">
    <div class="child">
      <h2>Sobre nosotros</h2>
      <p>Somos una empresa 100% mexicana dedicada a la pastelería y repostería, en el objetivo de crear arte comestible.
      </p>
      <p>Nuestro servicio de excelencia está disponible, A traves de nuetsras redes sociales y nuestros numeros de
        contactos
      </p>
    </div>


  </section>
  <section class="parent">
    <h2>Tablas de precios</h2>
    <div class="table">
      <br>
      <table class="tg">
        <thead>
          <tr>
            <th class="tg-i91w" colspan="2">Sabores</th>
            <th class="tg-i91w" colspan="2">Costos</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="tg-0lax">Chocolate</td>
            <td class="tg-m9r4">290 MXN</td>
          </tr>
          <tr>
            <td class="tg-0lax">Zanahoria</td>
            <td class="tg-m9r4">450 MXN</td>
          </tr>
          <tr>
            <td class="tg-0lax">Red Velvet</td>
            <td class="tg-0lax">450 MXN</td>
          </tr>
          <tr>
            <td class="tg-0lax">Ruso de Chocolate</td>
            <td class="tg-0lax">320 MXN</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  <section class="xd">
    <h2>¿Te gstaría hacer un pedido?</h2>
    <br>
    <div class="pedido">
      <a href="pages/construir.html">Haz un pedido</a>
    </div>
  </section>
  <footer>
    <p>Sakura Cake <br>
      Servicio de Lunes a Viernes de 08:00 a 3:30 <br>
      Telefonos: 3315809060 <br>
      Calle Alfareros 150 Colonia La Capacha, Tlaquepaque, JAL. CP 44820
    </p>

  </footer>
</body>

</html>